doctype html
html
  head
    meta(charset="UTF-8")
    title "Welcome"

  body
    p Welcome to this (yes!!) awesome app!
    form#summ-by-name
      label(for="summ-name")
        input(type="text" name="summ-name" placeholder="Search a summoner by name...")
      label(for="region")
        select(name="region")
          option(value="euw") EUW
          option(value="br") BR
          option(value="eune") EUNE
          option(value="na") NA
          option(value="jp") JP
          option(value="kr") KR
          option(value="lan") LAN
          option(value="las") LAS
          option(value="oce") OCE
          option(value="ru") RU
          option(value="tr") TR
      input(type="submit" value="OK?")
    p#response-zone
    p Total score : 
      span#player-score 0
    button#progression-button(type="button" disabled) Progression
    button#leaderboards-button(type="button" disabled) Leaderboards
    button#get-top-ten(type="button" disabled) Get Top Ten Champions
    form#by-champion
      select(name="champion")
        each champion in champions
          option(value=champion.key)= champion.name
    p#top-zone
    p#progression-zone
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.11/parsley.min.js")
    script(type="text/javascript" src="index.js")
      