doctype html
html
  head
    meta(charset="UTF-8")
    title "Welcome"

  body
    p Welcome to this (yes!!) awesome app!
    form(action="/euw/")
      input(type="text" placeholder="Search a summoner by name...")
      input(type="submit")