doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description', content='Do you master every champion in game?')
    meta(name='author', content='Alexandre Noble')
    meta(property="og:url" content="https://leagueofmasteries.eu-gb.mybluemix.net/")
    meta(property="og:title" content="LeagueOfMasteries")
    meta(property="og:description" content="Do you master every champion in game?")
    title LeagueOfMasteries
    style.
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    link(href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel="stylesheet" href="main.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  body
    //if IE
      script(src='https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
    div.container-fluid
      div.row.text-center
        h1 League Of Masteries
        p Do you master every Champion in League Of Legends?
      div.row.text-center
        div.col-xs-4.col-xs-offset-4
          form#summ-by-name(role="search")
            div.form-group
              input.form-control(type="text" name="summ-name" placeholder="Search for a summoner")
              select(name="region")
                option(value="euw") EUW
                option(value="br") BR
                option(value="eune") EUNE
                option(value="na") NA
                option(value="jp") JP
                option(value="kr") KR
                option(value="lan") LAN
                option(value="las") LAS
                option(value="oce") OCE
                option(value="ru") RU
                option(value="tr") TR
              button.btn.btn-default(type="submit") Search
      div.row.text-center
        div.col-xs-4.col-xs-offset-4
          p LeagueOfMasteries isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(type="text/javascript" src="pre.js")
