doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title LeagueOfMasteries
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel="stylesheet" href="main.css")
  body
    div.container-fluid
      div.row.text-center
        form#summ-by-name.navbar-form.navbar-left(role="search")
          div.form-group
            input.form-control(type="text" name="summ-name" placeholder="Search for a summoner")
            select(name="region")
              option(value="euw") EUW
              option(value="br") BR
              option(value="eune") EUNE
              option(value="na") NA
              option(value="jp") JP
              option(value="kr") KR
              option(value="lan") LAN
              option(value="las") LAS
              option(value="oce") OCE
              option(value="ru") RU
              option(value="tr") TR
            button.btn.btn-default(type="submit") Search
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(type="text/javascript" src="pre.js")
