div.row.text-center
  h3 Quizz // #{grade} grade
  if (grade === 'S' || grade === 'A')
    h4 Do you know your champions?
  else
    h4 Improve your style
div.row.text-center
  | #{champion.id} #{champion.name}